.column
  .title
    Version control best practices: achieve a product mindset
  .description
    Learn how cross functional teams can work together and become faster than functionally staffed orgs
  .image-width20pct
    = image_tag "/images/analysts/collaboration_ebook.png", class: "margin-top10"
  = link_to "Read more", "https://learn.gitlab.com/version-control/version-control-best-practice", class: "read-more"
